{% extends "layouts/base1.html" %}

{%block title%} task {%endblock%}
{% block stylesheets %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
      }
      
      th, td {
        border: 1px solid #FF9494; 
        padding: 8px;
        text-align: left;
      }
      
      th {
        background-color: #FF9494; 
        color: white; 
      }
</style>
{% endblock stylesheets %}

{%block content%}
<h1>Tasks List</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>priority</th>
        <th>category</th>
    </tr>
    {% for t in task %}
        <tr>
            <td>{{t.name}}</td>
            <td>{{t.priority}}</td>
            <td>{{t.category}}</td>
        </tr>
    {%endfor%}
</table>
{%endblock%}