{% extends "layouts/base2.html" %}

{%block title%} task {%endblock%}
{% block stylesheets %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
      }
      
      th, td {
        border: 1px solid #FF9494; 
        padding: 8px;
        text-align: left;
      }
      
      th {
        background-color: #FF9494; 
        color: white; 
      }
</style>
{% endblock stylesheets %}

{%block content%}
<table>
        <tr>
            <th>name</th>
            <th>category</th>
        </tr>
        <tr>
            <td> {{activity.name}}</td>
            <td> {{activity.category}} </td>
        </tr>
</table>
{%endblock%}