<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <style> 
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            border: 1px solid #f0f0f0;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddd;
        }
        
        th {
            background-color: #f0f0f0;
            color: black;
        }
        
    </style>
</head>
<body>
    <table id="task-table">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Task Priority</th>
                <th>Task Section</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>
