{% extends "layouts/base2.html" %}

{% block title %} Update Item {% endblock %}


{% block stylesheets %}
<style> 
</style>
{% endblock stylesheets %}

{% block content %}
<h2>Update Item</h2>
<form method="post">
    {% csrf_token %}
    {{form}}
    <br>
    <button type="submit">Update</button>
</form>
<hr> 
<table>
   <tr>
      <form method="post">
         {% csrf_token %}
         <td>
            <label style="color:firebrick;" for="input_check">
            <input style="vertical-align: -2px;" type="checkbox" id="input_check" name="delete_checked" />
            <b>Delete Item</b>
            </label>
         </td>
         <td>
            <button type="submit" id="delete_button" name="delete">Delete</button>
         </td>
      </form>
   </tr>
</table>

{% endblock content %}


{% block javascripts %}
<script>
    const check = document.querySelector('#input_check');
    const button = document.querySelector('#delete_button');

    button.style.visibility = 'hidden';
   
    check.addEventListener('change', () => {
     if (check.checked) {
         button.style.visibility = 'visible';
     } else {
       button.style.visibility = 'hidden';
     }
    });
</script>
{% endblock javascripts %}

